{% include 'adminheader.html'%}
<body>
	<br><br>
	<h1 align="center"><font color="red"><u>Manage Agents</u></font></h1>
	<form method="post">
		<table  align="center" class="table" style="width:700px;background-color:#f1f1c1">
			{% if  data['updateprt']  %}
			<tr>
				<th><font color="red">Agent Name</font></th>
				<td>
					<select name="aname" class="form-control" required="" style="width:90%;height: 40px">
			
<!-- 						<option>Select</option>
 -->						{% for row in data['updateagent']%}
						<option value="{{row['agent_id']}}">{{row['fname']}} {{row['lname']}}</option>
						{% endfor %}
					</select>
				</td>
			</tr>
			<tr>
				<th><font color="red">Route Name</font></th>
				<td>
					<select name="rname" class="form-control" required="" style="width:90%;height: 40px">
<!-- 						<option>Select</option>
 -->						{% for row in data['updateroute']%}
						<option value="{{row['route_id']}}">{{row['route_name']}}</option>
						{% endfor %}
					</select>
				</td>
			</tr>
			<tr>
				<td colspan="2" align="center"><font color="red"><input type="submit" name="update" value="Submit" class="form-control" style="width:100%;height: 40px"></font></td>
			</tr>
		</table>
		{% else %}
		<table  align="center" class="table" style="width:700px;background-color:#f1f1c1">
			<tr>
				<th><font color="red">Agent Name</font></th>
				<td>
					<select name="aname" class="form-control" required="" style="width:90%;height: 40px">
						<option>Select</option>
						{% for row in data['agent']%}
						<option value="{{row['agent_id']}}">{{row['name']}}</option>
						{% endfor %}
					</select>
				</td>
			</tr>
			<tr>
				<th><font color="red">Route Name</font></th>
				<td>
					<select name="rname" class="form-control" required="" style="width:90%;height: 40px">
						<option>Select</option>
						{% for row in data['route']%}
						<option value="{{row['route_id']}}">{{row['route_name']}}</option>
						{% endfor %}
					</select>
				</td>
			</tr>
			<tr>
				<td colspan="2" align="center"><font color="red"><input type="submit" name="submit" value="Submit" class="form-control" style="width:100%;height: 40px"></font></td>
			</tr>
		</table>
		{% endif %}
		<br><br>
		<table  align="center" class="table" style="width:700px;background-color:#f1f1c1">
			<h1 align="center"><font color="red"><u>Assigned Routes</u></font></h1>
			<tr>
				<th><font color="red">Date</font></th>
				<th><font color="red">Agent Name</font></th>
				<th><font color="red">Route Name</font></th>
			</tr>
			<tbody>
				{% for row in data['assign']%}
				<td>{{row['date']}}</td>
				<td>{{row['NAME']}}</td>
				<td>{{row['route_name']}}</td>
				<td><a href="?action=update&id={{row['assign_id']}}">Update</a></td>
				<td><a href="?action=delete&id={{row['assign_id']}}">Delete</a></td>
			</tbody>
			{% endfor %}
		</table>
	</form>
{% include 'footer.html'%}