{% include 'companyheader.html'%}
<body>
	<br><br>
	<h1 align="center"><font color="red"><u>Manage Products</u></font></h1>
	<form method="post" enctype="multipart/form-data">
		<table  align="center" class="table" style="width:700px;background-color:#f1f1c1">
			{% if data['updateprt']%}
			<tr>
				<th><font color="red">Amount</font></th>
				<td><input type="text" name="amount" class="form-control" required="" style="width:90%;height: 40px" value="{{data['updateprt'][0]['amount']}}"></td>
			</tr>
			<tr>
				<td colspan="2" align="center"><font color="red"><input type="submit" name="update" value="Submit" class="form-control" style="width:100%;height: 40px"></font></td>
			</tr>
		</table>
		{% else %}
		<table  align="center" class="table" style="width:700px;background-color:#f1f1c1">
			<tr>
				<th><font color="red">Product Name</font></th>
				<td><input type="text" name="pname" class="form-control" required="" style="width:90%;height: 40px"></td>
			</tr>
			<tr>
				<th><font color="red">Description</font></th>
			<td><textarea name="des" class="form-control" required="" style="width:90%;height: 140px">
			</textarea></td>
		</tr>
		<tr>
				<th><font color="red">Amount</font></th>
				<td><input type="text" name="amount" class="form-control" required="" style="width:90%;height: 40px"></td>
			</tr>
		<tr>
				<th><font color="red">Image</font></th>
				<td><input type="file" name="image" class="form-control" required="" style="width:90%;height: 40px"></td>
			</tr>	
			<tr>
				<td colspan="2" align="center"><font color="red"><input type="submit" name="submit" value="Submit" class="form-control" style="width:100%;height: 40px"></font></td>
			</tr>
		</table>
		{% endif %}
		<br><br><br>
				<table  align="center" class="table" style="width:700px;background-color:#f1f1c1">
						<h1 align="center"><font color="red"><u>Manage Products</u></font></h1>
						<tr>
							<th><font color="red">Product Name</font></th>
							<th><font color="red">Description</font></th>
							<th><font color="red">Amount</font></th>
							<th><font color="red">Image</font></th>
						</tr>
						<tbody>
							{% for row in data['pro']%}
							<td>{{row['pro_name']}}</td>
							<td>{{row['description']}}</td>
							<td>{{row['amount']}}</td>
							<td><img src="/{{row['image']}}" width="200" height="200"></img></td>
							<td><a href="/company/companymanagestock?id={{row['pro_id']}}">Manage Stock</a></td>
							<td><a href="?action=update&id={{row['pro_id']}}">Update</a></td>
							<td><a href="?action=delete&id={{row['pro_id']}}">Delete</a></td>
						</tbody>
						
					{% endfor%}
				</table>
	</form>
{% include 'footer.html'%}