<!-- <a href="/admin/adminhome">Home</a>
<a href="/admin/admanageagents">Agents</a>
<a href="/admin/admanagecompany">Company</a>
<a href="/admin/admanageroutes">Routes</a>
<a href="/admin/adassignroutes">Assign Routes</a>
<a href="/admin/adviewusers">User Details</a>
<a href="/admin/adviewfeedback">Feedbacks</a>
<a href="/admin/adtrackagent">Track Agents</a>
<a href="/admin/advieworders">Purchase Details</a>
<a href="/admin/adviewpay">Payment Details</a>
<a href="/">Logout</a> -->

<!DOCTYPE html>
<html lang="en">
<head>
<title>PlasticWaste Management Bootstrap Responsive website Template | Home :: w3layouts</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Waste Dumping Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Custom Theme files -->
<link href="/static/css/bootstrap.css" type="text/css" rel="stylesheet" media="all">
<link href="/static/css/style.css" type="text/css" rel="stylesheet" media="all">   
<link href="/static/css/slider.css" type="text/css" rel="stylesheet" media="all"> 
<link rel="stylesheet" href="/static/css/owl.carousel.css" type="text/css" media="all">
<link href="/static/css/easy-responsive-tabs.css" rel='stylesheet' type='text/css'/>
<link href='/static/css/simplelightbox.min.css' rel='stylesheet' type='text/css'>   
<!-- //Custom Theme files -->
<!-- font-awesome icons -->
<link href="/static/css/font-awesome.css" rel="stylesheet"> 
<!-- //font-awesome icons -->
<!-- web-fonts --> 
<link href="/static///fonts.googleapis.com/css?family=Montserrat:200,300,300i,400,400i,500,500i,600,600i,700,700i,800" rel="stylesheet">
<link href="/static///fonts.googleapis.com/css?family=Lato:100i,300,300i,400,400i,700" rel="stylesheet">
<!-- //web-fonts -->
</head>
<body>
	<!-- banner -->
	<div class="banner" id="home" > 
		<div class="cd-radial-slider-wrapper"> 
		   <div class="top_header">
		  		<nav class="navbar navbar-default">
						<div class="navbar-header navbar-left">
							<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
							<h1><a class="navbar-brand" href="adminhome"><span>PlasticWaste</span> <i>Management</i></a></h1>
						</div>
						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
							<nav class="link-effect-2" id="link-effect-2">
								<ul class="nav navbar-nav">
									<li><a href="adminhome"><b>Home</b></a></li>
									<!-- <li class="active"><a href="/admin/adminhome" class="scroll"> <span data-hover="Home">Home</span></a></li> -->
								<!-- <a href="/admin/adminhome">Home</a>
<a href="/admin/admanageagents">Agents</a>
<a href="/admin/admanagecompany">Company</a>
<a href="/admin/admanageroutes">Routes</a>
<a href="/admin/adassignroutes">Assign Routes</a>
<a href="/admin/adviewusers">User Details</a>
<a href="/admin/adviewfeedback">Feedbacks</a>
<a href="/admin/adtrackagent">Track Agents</a>
<a href="/admin/advieworders">Purchase Details</a>
<a href="/admin/adviewpay">Payment Details</a>
<a href="/">Logout</a> -->
<!-- 									<li><a href="/"><b>Home</b></a></li>
 -->									 <li><a href="" class="scroll" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span data-hover="ManageDetails"> Manage</span> <span class="caret"></span></a>
										<ul class="dropdown-menu">
											<li><a href="/admin/admanageagents">Agents</a></li>
											<li><a href="/admin/admanagecompany">Company</a></li>
											<li><a href="/admin/admanageroutes">Routes</a></li>
											<li><a href="/admin/adassignroutes">Assign Rotes</a></li>
										</ul>
							</li> 
							 <li><a href="" class="scroll" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <span data-hover="ViewDetails"> View <span class="caret"></span></a>
										<ul class="dropdown-menu">
											<li><a href="/admin/adviewusers">User Details</a></li>
											<li><a href="/admin/adviewfeedback">Feedbacks</a></li>
											<li><a href="/admin/adtrackagent">Track Agents</a></li>
											<li><a href="/admin/advieworders">Purchase Details</a></li>
											<li><a href="/admin/adviewpay">Payment Details</a></li>
										<!-- 	<li><a href="admin_view_waste_request">admin_view_waste_request</a></li> -->
										</ul>
							</li> 
							<li><a href="/"><b>Logout</b></a></li>


								</ul>
						
						</div>
						
						<!-- 
						cd-search -->
						<div>
									<div class="cd-main-header">
										<ul class="cd-header-buttons">
											<li><a class="cd-search-trigger" href="/static/#cd-search"> <span></span></a></li>
										</ul> <!--  cd-header-buttons -->
									</div>  
									<div id="cd-search" class="cd-search agileinfo">
										<form action="#" method="post">
											<input name="Search" type="search" placeholder="Click enter after typing...">
										</form>
									</div> 
						</div>
									<!-- //cd-search -->
					</nav>

		   </div>
		  