{% include 'adminheader.html'%}
<body>
	<div style="width: 100%;height: 300px;background-image: url('/static/images/back.jpg');background-size: cover;">

	</div><br>
	<h1 align="center"><font color="red"><u>Payment detatils</u></font></h1>
	<form method="post">
		<table  align="center" class="table" style="width:1000px;background-color:#ffffff">
			<tr>
				<th><font color="red">Date</font></th>
				<th><font color="red">User Name</font></th>
				<th><font color="red">Total Amount</font></th>
			</tr>
			<tbody>
				{% for row in data['pay']%}
				<td>{{row['date']}}</td>
				<td>{{row['NAME']}}</td>
				<td>{{row['amount']}}</td>
			</tbody>
			{% endfor %}
		</table>
	</form>
{% include 'footer.html' %}