<div class="footer-w3layouts">
		<div class="footer-top-agile">
		<h6><a href="/static/index.html"><span>Plastic Waste Management</span> <i></i></a></h6>
		<p class="para three">Easy & quick deployment. Tracking with route, speed & distance travelled. Award Winning Solution. Seamless Deployment. SLA-backed. Real Time Tracking. Types: Panic button available, End-to-end service, Geo-fencing, User-friendly interface..</p>
		</div>
		<div class="subscribe-grid">
		<h5>Subscribe for our latest updates</h5>
		<p>Get <span>10%</span> off on booking</p>
					<form action="#" method="post">
						<input type="email" placeholder="Subscribe" name="Subscribe" required="">
						<button class="btn1"><i class="fa fa-envelope-o" aria-hidden="true"></i></button>
					</form>
				</div>
		<div class="footer-bottom-wthree">
			<div class="copyright-wthree">
				<p>&copy; 2020 Plastic Waste Management . All Rights Reserved | Design by <a href="/static/http://w3layouts.com/"> W3layouts </a></p>
			        <div class="wthree-icon footer">
							<a href="/static/#" class="social-button twitter"><i class="fa fa-twitter"></i></a>
							<a href="/static/#" class="social-button facebook"><i class="fa fa-facebook"></i></a> 
							<a href="/static/#" class="social-button google"><i class="fa fa-google-plus"></i></a> 
						</div>
			</div>
			<div class="clearfix"></div>
		</div>
		</div>
<!-- //Footer -->

	<!-- js -->
<script src="/static/js/jquery-2.2.3.min.js"></script> 
<!-- //js -->
<!-- start-smooth-scrolling -->
<script type="text/javascript" src="/static/js/move-top.js"></script>
<script type="text/javascript" src="/static/js/easing.js"></script>	
<script type="text/javascript">
		jQuery(document).ready(function($) {
			$(".scroll").click(function(event){		
				event.preventDefault();
		
		$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
			});
		});
</script>
<!-- //end-smooth-scrolling -->	
	<!-- script for responsive tabs -->						
<script src="/static/js/easy-responsive-tabs.js"></script>
<script>
$(document).ready(function () {
$('#horizontalTab').easyResponsiveTabs({
type: 'default', //Types: default, vertical, accordion           
width: 'auto', //auto or any width like 600px
fit: true,   // 100% fit in a container
closed: 'accordion', // Start closed if in accordion view
activate: function(event) { // Callback function if tab is switched
var $tab = $(this);
var $info = $('#tabInfo');
var $name = $('span', $info);
$name.text($tab.text());
$info.show();
}
});
$('#verticalTab').easyResponsiveTabs({
type: 'vertical',
width: 'auto',
fit: true
});
});
</script>
<!-- stats -->
	<script src="/static/js/jquery.waypoints.min.js"></script>
	<script src="/static/js/jquery.countup.js"></script>
		<script>
			$('.counter').countUp();
		</script>
<!-- //stats -->

<script type="text/javascript" src="/static/js/simple-lightbox.min.js"></script>
			<script>
				$(function(){
					var gallery = $('.agileinfo-gallery-row a').simpleLightbox({navText:		['&lsaquo;','&rsaquo;']});
				});
			</script>  
<!-- script for responsive tabs -->		
	<!-- search jQuery -->
	<script src="/static/js/search.js"></script>
	<!-- //search jQuery --> 
	<script src="/static/js/snap.svg-min.js"></script>
	<script src="/static/js/main.js"></script> <!-- Resource jQuery -->   
	<!-- smooth-scrolling-of-move-up -->
	<!-- carousel -->
<script src="/static/js/owl.carousel.js"></script>
	<script>
	$(document).ready(function() {
	  $("#owl-demo").owlCarousel({
		items :3,
		itemsDesktop : [768,2],
		itemsDesktopSmall : [414,1],
		lazyLoad : true,
		autoPlay : true,
		navigation :true,
		
		navigationText :  false,
		pagination : true,
		
	  });
	  
	});
	</script>
<!-- //carousel -->


	<script type="text/javascript">
		$(document).ready(function() {
			/*
			var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
			};
			*/
			
			$().UItoTop({ easingType: 'easeOutQuart' });
			
		});
	</script>
	<!-- //smooth-scrolling-of-move-up -->   
	<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/js/bootstrap.js"></script>
</body>
</html>